body {
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
}
div .left-profile {
  min-height: 100vh;
  background-color: black;
  background-image: url(./docs/profile-bg.jpg);
  background-size: 50em;
  background-position: right;
}

div .right-projects {
  min-height: 100vh;
  background-color: silver;
  background-size: auto;
  padding: 0;
}

.contact {
  border-radius: 20px;
  font-size: .8em;
}

.contact a:link {
  color: lightgrey;
}

.contact li {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgrey;
  border: 0px;
}

.contact a:visited{
  color: grey;
}

.icons {
  font-size: 1.5em;
  margin-right: .6em;
}
