body {
  min-height: 100vh;
}

div .left-profile {
  background-image: url(./docs/bg-profile.jpg);
  min-height: 100vh;
}

div .right-projects {
  background-image: url(./docs/bg-projects.jpg);
  min-height: 100vh;

}

.contact {
  border-radius: 20px;
  font-size: .8em;
}

.contact a:link {
  color: lightgrey;
}

.contact li {
  background-color: rgb(0, 0, 0.5);
  color: lightgrey;
  border: 0px;
}

.contact a:visited{
  color: grey;
}

.icons {
  font-size: 1.5em;
  margin-right: .6em;
}

.lang-icons {
  color: white;
  font-size: 2em;
}

.languages {
  background-color: rgb(0, 0, 0.5);
  padding: 1em;
}

div .sect {
  animation: fade .8s linear;
  color: white;
  background-color: rgba(36, 36, 36, 0.25);
  margin: 0 2em 0 2em;
  padding: 2em 1.5em 2em 1.5em;
  border-radius: 1em;
}

.experience-card {
  background: rgba(36, 36, 36, 0.25);
}

.project-caption {
  background: rgba(36, 36, 36, 0.25);
}
